<h2 class="tittle">Add entities</h2>
<div>
  <mat-card>
    <mat-form-field>
      <mat-icon matPrefix>search</mat-icon>
      <label>
        <input matInput [(ngModel)]="searchName" placeholder="Search entity">
      </label>
    </mat-form-field>
    <mat-divider></mat-divider>
    <form>
      <mat-selection-list #itemList>
        <mat-list-option checkboxPosition="before" *ngFor="let item of entity | filter: searchName; let lastItem = last"
                         [value]="item" [selected]="item.selected">
          <b>{{item.name}}</b>
          <a class="main">{{item.details}}</a>
          <mat-divider *ngIf="!lastItem"></mat-divider>
        </mat-list-option>
      </mat-selection-list>
    </form>
  </mat-card>
</div>
<button mat-raised-button color="accent" routerLink="" (click)="onSave(itemList.selectedOptions.selected)">CONNECT
</button>
