<ng-container>
  <mat-card>
    <mat-list>
      <mat-list-item>
        <mat-icon matPrefix routerLink="/additem">add_circle_outline</mat-icon>
        Connect entity
        ({{selectedList.length}})
        <button mat-button (click)="toggle()" id="bt" *ngIf="selectedList.length>0">
          <mat-icon>{{buttonname}}</mat-icon>
        </button>
      </mat-list-item>
      <ng-container *ngIf="show">
        <div>
          <mat-list-item *ngFor="let item of selectedList">
            {{item.name}}
            <br>{{item.details}}
          </mat-list-item>
        </div>
      </ng-container>
    </mat-list>
  </mat-card>
</ng-container>
